/* .container .firstClass .divFirst{
    height: 40px;
}
.container .firstClass .divSecond{
    height: 20px;
}
.container .firstClass .divThird{
    height: 40px;
} */

/* .container .secondClass .divFirst1{
    height: 48px;
}
.container .secondClass .divSecond1{
    height: 48px;
} */
/* .container .thirdClass{
    width: 100%;
    display: flex;
    gap: 60px;
}
.container .firstClass .divFirst6{
    background-color: beige;
    width: 100px;
    height: 100px;


}

.container .firstClass .divSecond5{
    background-color: blueviolet;
    width: 100px;
    height: 100px;
}
.container .firstClass .divThird6{
    background-color: brown;
    width: 100px;
    height: 100px;
} */